/* app/assets/stylesheets/devise.css */
img {
  max-width: 100%;
  height: auto;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.inner { 
  background-color: #e7ccd7; 
  padding: 1em;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form__wrapper {
  max-width: 400px;
  width: 100%;
  padding: 8em;
}

.page-heading {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

.field {
  margin-bottom: 1em;
}

.actions {
  text-align: center;
  margin-top: 1em;
}

.form__btn {
  display: block;
  padding: 0.2em 10em;
  background-color: rgb(228, 172, 224);
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 50px;
}

.field input[type="email"],
.field input[type="password"],
.field input[type="text"] {
  font-size: 2.5em; 
}

.field label {
  font-size: 1.3em;
}

.form__btn:hover {
  background-color: #ffbee7;
}